
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.sohag{
    color: darkgoldenrod;
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
    margin-bottom: 10px;
    padding: 2%;
    

}
.top-bg {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 60%;    
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 5%;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}